[submodule "tts/ru_tts-python"]
	path = tts/ru_tts-python
	url = https://github.com/MrMagnusneo/ru_tts-python
[submodule "tts/sam-python"]
	path = tts/sam-python
	url = https://github.com/MrMagnusneo/sam-python
[submodule "tts/dectalk-python"]
	path = tts/dectalk-python
	url = https://github.com/MrMagnusneo/dectalk-python
